/* Colors */

.green {
    color: #31AA1C;
  }

.green:hover {
   color:  #31AA1C;
}

.green-border {
    border: 1px groove #31AA1C;
 }

.red {
    color: #F43423;
}

.orange {
   color: orange;
}

.purple {   
   color:purple;
}

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

body{
    width: 100%;
    font-size: calc(0.8em + 0.6vw);
}

header {
    width: 100%;
}

h1 {
    margin: 20px;
}

p {
    text-align: left;
    margin: 20px;
    font-size: calc(0.6em + 0.5vw);
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.actions-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.action-container {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

@media only screen and (max-width: 768px) {
    .actions-container-sm {
      flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .action-container-sm {
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-start;      
      margin-bottom: 20px;
      margin-right: 10px;
    }
}

.carbon-button {
    align-self: center;
    vertical-align: middle;
    margin-bottom: 20px;
    margin-top: calc(0.9em + 0.75vw);
}

.action {
    font-weight: bold;
    border-radius: 4px;
    text-align: left;
    font-size: calc(0.9em + 0.75vw);
    vertical-align: middle;
}

.font-xl {
    font-size: calc(1.25em + 0.7vw);
}

.font-lg {
    font-size: calc(0.75em + 0.7vw); 
}

.font-md {
    font-size: calc(0.75em + 0.7vw);
}

.font-sm {
    font-size: calc(0.6em + 0.5vw);
}

.min-width-110 {
    min-width: 110px;
}

.margin-sm {
    margin: 10px;
}

.margin-left-sm {
    margin-left: 10px;
}

.margin-btm-lg {
   margin-bottom : 40px
}

:root {
    --animate-delay: 2s;
  }

/*   F7D978  - Yellow
EBC156 - another yellow
#13ee71  - light green
B23F58  - red / pine
F7F7F1 - white
323D68 - dark blueA
31AA1C - dark green
AB1116 - bright red
F43423 - red
EF7622 - orange
E8BE4E - yellow
FBD415 - bright yellow */